[submodule "libs/Parametric_SkyModels"]
	path = libs/Parametric_SkyModels
	url = git@github.com:IanMaquignaz/Parametric_SkyModels.git
[submodule "libs/skymangler"]
	path = libs/skymangler
	url = git@github.com:IanMaquignaz/skymangler.git
[submodule "libs/skylibs"]
	path = libs/skylibs
	url = git@github.com:IanMaquignaz/skylibs.git
