torch<=2.0.0
tensorboard
tensorboardX
omegaconf
matplotlib
dill
Ninja
autopep8
scipy
imageio
imageio-ffmpeg
scikit-image
opencv-python
pysolar
lpips
pytorch_fid
torchmetrics>=1.3
torchmetrics[image]
torchmetrics[multimodal]
torch-fidelity
numpy
click
pillow
scipy
requests
matplotlib
opencv-python
pandas
diskcache
pybind11
imgui
glfw
pyopengl
imageio-ffmpeg
pyspng
psutil
skylibs